.connectorNode {
  border-color: #6b7280;
  background: var(--background-tertiary);
  border-radius: 1px 1px 1px 1px;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px; 
  padding: var(--spacing-xs);
}

.connectorNode:hover {
  border-color: #4b5563;
  background: var(--background-elevated);
}

.connectorNode.nodeSelected {
  border-color: var(--color-primary);
  background: var(--background-elevated);
}
