.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-primary);
}

.container {
  flex: 1;
  display: flex;
  background: var(--background-primary);
  overflow: hidden;
}

.reactFlowWrapper {
  flex: 1;
  height: 100%;
  position: relative;
}

.bg {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px) !important;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px !important;
}